.appfondo {
  background: rgb(139, 157, 246);
  height: 100vh;background: rgb(174,211,238);

  background: rgb(18,81,157);
  background: linear-gradient(90deg, rgba(18,81,157,1) 35%, rgba(23,116,190,0.8939950980392157) 100%);

}




  
